/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

#pcloud-backup-wizard-wrapper {
    height: 89vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pcloud-backup-wizard {
    width: 60vw;
}

.pcloud-backup-type-checkbox {
    display: block;
}

/**
 * Smart Wizard
 */

#step-4 {
    text-align: center;
}

.sw-theme-dots>.nav .nav-link.active::after {
    background-color: #007cba!important;
}

.sw-theme-dots>.nav .nav-link.active {
    color: #007cba!important;
}

.sw-theme-dots .toolbar>.btn {
    background-color: #007cba;
    border: 1px solid #007cba;
}

.sw-theme-dots .toolbar>.btn:focus {
    outline: none;
}

/* Fancytree */

ul.fancytree-container {
    background-color: transparent;
    border: none;
}

.fancytree-treefocus {
   outline: none;
}

/* Icon */

.success-icon {
    width: 40px;
}